#edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: lime;
  display: none;
  justify-content: center;
  align-items: center;
}
#modal-edit-body {
  background-color: aqua;
  width: 400px;
  height: 350px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
}
#inp-id {
  display: none;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#inp-first-name {
  background-color: gold;
}

#edit-surname {
  background-color: gold;
}

#inp-surname {
  background-color: gold;
}

#inp-num {
  background-color: gold;
}

#btn-save {
  background-color: aqua;
}

#search {
  background-color: gold;
}

#edit-first-name {
  background-color: gold;
}

#edit-num {
  background-color: gold;
}

#saveEdit {
  background-color: hotpink;
}
